# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
velo_env/
.env/

# Project Specific
settings.json
history.json
Downloads/
velo.log*
velo_jobs.sqlite3*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
